<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>226901592223-72nlg7erokn4a4tuqafb6i30f9cl09t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226901592223-72nlg7erokn4a4tuqafb6i30f9cl09t3</string>
	<key>API_KEY</key>
	<string>AIzaSyDUxsRXNq825TXK03z3AT3Lh3aqhlE-Gg0</string>
	<key>GCM_SENDER_ID</key>
	<string>226901592223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandeep.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-819db</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-819db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226901592223:ios:23bf04e87cd00433</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-819db.firebaseio.com</string>
</dict>
</plist>